*{
    box-sizing: border-box;
}

header {
    width:100%;
    height:70px;
    position:fixed;
    background-color:black;
    top:0;
    padding: 0px;
    z-index: 1;
    
}

body {
    margin: 0px;
    padding: 0px;
}

#logo {  
    margin: 0px;
    width: auto;
    height: 90%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 1;
}


/*-------naslovi---------*/

h2{
    text-align: center;
}
h3, h4{
    text-align: center;
    background-color: #ff8080;
    width:60%;
    padding: 10px 0px;
    position: relative;
    left:20%;
}
h4{
    background-color: #ffd4d4;    
}

/*-------botuni za prijavu i odjavu-------*/
#login,#logout {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;   
    border: none;
    padding:12px;
    background-color:white ;
    border-radius: 15px;
    position: absolute;
    top:50%;
    right:0%;
    transform:translate(-50%,-50%);
    cursor: pointer;
} 
#login:hover,#logout:hover {
    background-color: #ff8080;
    color:white;
    transition-duration: 0.4s;
} 

/* ------------navigacija----------------- */
#nav-container{
    top:70px;
    width:100%;
    border-top: 1px solid grey;
    position:fixed;
    background-color:black;
    height: 40px ;
    z-index: 1;

}
.nav {

    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.nav li {
    
    height: 100%;
    float: left;
    cursor: pointer; 
    align-content: center;
}
.nav li a {
    height: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 15px;
    margin:0;
    text-decoration: none;
}
.nav li a span{
    color:#ff8080;
}  

.nav li a:hover {
    background-color: #ff8080;
    transition-duration: 0.4s;
    
}

.nav li a:hover span{
 color:black;
}

.data-container, .notifications-container, .notification-open{
    position: absolute;
    top:15%;
    width:100%;
}

.data-container1{
    position: relative;
    transform:translate(0%,6%);
    width:100%;
}
.data-container2{
    position: relative;
    width:100%;
}


/*------------salon_index slike ----------------*/
#picture-selector{
    z-index: -1;
    top:12%;
    position:absolute;
    left:20%;
    width:60%;  

}
.img-div {
    position: relative;
    display: block;
    float: left;
    width: 31%;
    height: 300px;
    overflow:hidden;
    padding: 5px;
    border-bottom: 1px solid black;
    margin:1%;
    text-decoration: none;   
}
.on-image-rating{

    position: absolute;
    right:1.5%;
    top:1.7%;
    padding:9px;
    background-color: black;
    opacity: 0.7;
    color:white;
    width:15%;
    height:15%;
    border-top-right-radius: 10px;
}
.img-div div{
    width:100%;
    text-align: center;
    color: black;
    text-decoration: none;
}
.img-div img{
    width:100%;
    height:90%;
    object-fit:cover;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .img-div {
        width: 100%;
    }
}

.img-div:hover {
    opacity:0.5;
    transition-duration: 0.4s;
}



/*------------discounts_index slike ----------------*/
#picture-selector2{ /* predstavlja 'grid' slika */
    z-index: -1;
    top:15%;
    position:absolute;
    left:50%;
    transform:translate(-50%,0%);
    width:60%;  
}
.img-div2 { /* predstavlja container u kojem se nalazi jedna slika */
    position: relative;
    text-align: center;
    display: block;
    float: left;
    width: 30%;
    height: 300px;
    overflow:hidden;
    padding: 5px;
    margin:5px 10px;
    text-decoration: none;   
}
.img-div2 div{ /* ovaj div sadrži tekst kojeg centriramo */
    width:100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);   
    font-size: large;
    /*background: #FFD4D4;
    border-radius: 10px;*/
}

.img-div2 img{ /* slika unutar containera */
    width:100%;
    height:90%;
    object-fit:cover;
    border-radius: 10px;
    filter: brightness(30%);
}

@media screen and (max-width: 700px) {
    .img-div2 {
        width: 100%;
    }
}

.img-div2:hover {
    opacity:0.7;
    transition-duration: 0.4s;
}

/* --------------salon_info------------- */

/* naslovna slika */
.front-picture{
    position:relative;
    left:20%;
    width:29%;
    object-fit:cover;
    height:400px;
}
/* informacije */
.info-container{
    background-color: lightgray;
    color:black;
    position:relative;
    float:right;
    right:20%;
    width:29%;
    height:400px;
}
.info-table{
    position: absolute;
    width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-collapse: collapse;
}
.info-table td{
    padding:8px;
    border-bottom: 1px solid black;
}
.info-table th{
    padding:8px;
    vertical-align: top;
    border-bottom: 1px solid black;
}
/* tablica usluga(cjenik) */
.usluge-container{
    position:relative;
    right:20%;
    width:60%;
    left:50%;
    transform:translate(-50%,0%);
}
.table-usluge{
    width:100%;
    border-collapse: collapse;
    text-align: left;
}
.table-usluge th,.table-usluge td{
    border-bottom: 1px solid lightgrey;
    padding:8px;
}
.book-btn {
    display: block;
    color:black ;
    text-align: center;
    text-decoration: none;   
    border: 1px solid gray;
    padding:5px;
    background-color:lightgray ;
    border-radius: 7px;
    cursor: pointer;
    
}
.book-btn:hover {
    background-color: #ffd4d4; 
}

/* galerija */
.slide-container{
    background-color: lightgray;
    position: relative;
    margin: auto;
    width: 60%;
    height:500px;
}
.slide {
    height: 100%;
    position: relative;
    display: none;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.slide img{
    vertical-align: middle;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}







 /* ------------modal------------- */
 .modal {
    display: none; 
    position: fixed !important; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
    z-index: 5;
}
.close{
    position:absolute;
    right:0%;
    top:0%;
    background-color: black;
    color:white;
    border:none;
    cursor: pointer;
    padding:5px 10px;
}
.modal-content {
    position: relative;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 70%; 
  }

/* -----------------modal za prijavu----------------------- */
#modal-content1{
    position:relative;
    background-color: #ffcccc;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
}
#modal-content1 h2{
    text-align: center;
}

#login_btn{
    background-color: rgb(112, 111, 111);
    color:white;
    border:none;
    cursor: pointer;
    padding:10px 15px;
    margin:10px;
    border: 1px solid black;
}

/* -----------------modal za rezervaciju----------------------- */ 
#modal-content2{ 
    margin: 10% auto;
    padding: 20px;
}

#modal-content2 .line {
    border-top: 1px solid lightgray; 
}
#pick-date{
    text-align: center;
}
#datepicker, #employees{
    width:110px;
    background-color: #ffcccc;
    text-align: center;
    padding:5px;
}

#modal-content2 p, #chosen-services{ 
    text-align: center; 
}
#free-appointments{
    text-align: left !important;
}
#chosen-services{ 
    text-align: center; 
}
#info-cont p{
    color:#ff8080;
}
#price{
    float:left;
    width:15%;
    /* margin-left: 30%;  */
}
#discount{
    float:left;
    width:15%;

}
#discount-price{
    float:left;
    width:25%;
   
}
#space{
    float:left;
    width:25%;
}
#duration{
    float:left;
    width:20%; 
}

#add-service{
    background-color:white;
    border: none;
    padding:0px;
    cursor: pointer;
    color:gray;
}
#add-service span{
    color:#ff8080;

}
#add-service:hover{
    color:black;

}

.picked_service{
    display:inline-block;
    background-color:#fff7f7;
    position:relative;
}
#reserve{
    background-color: #ff8080;
    border:none;
    width:100%;
    cursor: pointer;
    padding: 15px;
    color:white;
    font-size: larger;
}



.picked_service{
    display: inline-block;
    position: relative;
    border: 1px solid gray;
    padding:10px 25px;
    margin: 5px 10px;
}

.close-div{
    position:absolute;
    right:0%;
    top:0%;
    background-color: #ffcccc;
    color:black;
    border:none;
    cursor: pointer;
    padding:0px 5px;   
}

.time-btn{
    background-color: white;
    border: 1px solid lightgray;
    width: 70px;
    text-decoration: center;
    margin:5px 10px;
    cursor: pointer;
    padding:5px;   
}
.time-btn:hover{
    background-color: #ffcccc;
   
}


#reserve{
    display: none;
}

/* modal potvrda rezervacije */
#modal-content3{ 
    position:relative;
    background-color: #ffcccc;
    text-align: center;
    margin: 15% auto;
    padding: 30px;
    width: 20%;
    line-height: 40px;
}

#modal-content4{ 
    position:relative;
    background-color: #ffcccc;
    text-align: center;
    margin: 15% auto;
    padding: 30px;
    width: 20%;
    line-height: 40px;
}
.close3{
    background-color: transparent;
    border:none;
    cursor: pointer;
    text-decoration: underline;
    color: gray
}
.close3:hover{
    color: black;
}

/*centriraj tablicu Podaci*/
.center-table{
    margin-left: auto;
    margin-right: auto;
  }
  
  .center-table th{
      padding: 5px;
  }
  
  .center-table td{
      padding: 5px;
  }
  
  .center-table tr{
      padding: 5px;
  }
  /* #ffcccc
    #ffb3b3
    #ff8080 */
  
  /* recenzije */
   .reviews{
    
      margin: auto;
      width: 60%;
      height:500px;
    }

   .fa_custom {
      color: #ff8080;
     
      }
      
    .heading {
      font-size: 25px;
      margin-right: 25px;
    }  
    
    @media (max-width: 400px) {
      .side, .middle {
        width: 100%;
      }
      .right {
        display: none;
      }
    }
  
  .form-group {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
  .pink-border-focus .form-control:focus {
      border: 1px solid #ff8080;
      box-shadow: 0 0 0 0.2rem #ffcccc;
  
  }
  
  /* općeniti gumb za izgled */
  .pink-btn {
      display: block;
      color:black ;
      text-align: center;
      text-decoration: none;   
      border: 1px solid gray;
      padding:5px;
      background-color:lightgray ;
      border-radius: 7px;
      cursor: pointer;
      
  }
  .pink-btn:hover {
      background-color: #ffd4d4; 
  }

  /* dodaj novu sliku! */
  .upload-btn{
      margin-left: auto;
      margin-right: auto;
      width: 30%;
  }


/* notifikacije */
.notifications-container{
    
    position: absolute;
    margin:auto;
    width:40%;
    left:50%;
    transform:translate(-50%,0%);
    align-content: center;
    
}
.notifications-container a{
    text-decoration: none;
}

.notification{
    width:100%;
    padding:20px;
    margin-bottom: 10px;
    background-color: #ffcccc;
    border: 1px solid gray;
    border-radius: 10px;
    color:black;
    
}

.notification.read{
    background-color: #fff7f7;

}
.notification:hover{
    background-color: #ffb3b3;
    cursor: pointer;

}

.notification-open{
    position: absolute;
    margin-top:20px;
    padding:10px 20px;
    width:40%;
    left:50%;
    transform:translate(-50%,0%);
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #fff7f7;


}



.notifications-container button, #filter-btn, #sort-btn{
    color: black;
    text-align: center;
    text-decoration: none;   
    border: 1px solid lightgray;
    padding:8px;
    background-color:rgba(211, 211, 211, 0.582) ;
   
    cursor: pointer;
}

.notifications-container button:hover, #filter-btn:hover, #sort-btn:hover {
    background-color: #fff7f7;
    transition-duration: 0.4s;
} 
.notifications-container form{
    position: absolute;
    left:50%;
    transform:translate(-50%,0%);
}


/* Prikaži thumbnails slike iz galerije */
.thumbnails{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.all-photos{
    position: relative;
    margin: auto;
    width: 60%;
    text-align: center;
}



.front-picture-2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    height:400px;
    width: 30%;
}

/* općeniti gumb za izgled za 2 gumba jedan do drugog*/
  .pink-btn-by-btn {
    display: inline-block;
    color:black ;
    text-align: center;
    text-decoration: none;   
    border: 1px solid gray;
    padding:5px;
    background-color:lightgray ;
    border-radius: 7px;
    cursor: pointer;
    
}
.pink-btn-by-btn:hover {
    background-color: #ffd4d4; 
}


/*salon-index-part2*/

.img-div3 { /* predstavlja container u kojem se nalazi jedna slika */
    position: relative;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    overflow:hidden;
    padding: 5px;
    text-decoration: none;   
}
.img-div3 div{ /* ovaj div sadrži tekst kojeg centriramo */
    width:100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);   
    font-size: large;
    /*background: #FFD4D4;
    border-radius: 10px;*/
}

.img-div3 img{ /* slika unutar containera */
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
    filter: brightness(30%); 
}

#discount-container2{
    position:fixed;
    right:2%;
    top:15%;
    width:15%;
    height: 80%;
    border:1px solid black;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#discount-container2 div, #discount-container1 div{
    color:black !important;
}

#discount-container2 img, #discount-container1 img{
    opacity:0.4 !important;
    filter: brightness(100%) !important;
}

#discount-container1{
    
    position:absolute;
    top:45%;
    height: 54%;
    border:1px solid black;
    border-radius: 10px;

    width:50%;
    left:50%;
    transform:translate(-50%,0%);
}

#wellcome{
    text-align: center;
    position:absolute;
    top:30%;
    width:100%;
    left:50%;
    transform:translate(-50%,0%);
    padding:10px;
    font-size: large;
    background-color: #ffb3b3;
}

#intro{
    text-align: center;
    position:absolute;
    top:36%;
    width:100%;
    left:50%;
    transform:translate(-50%,0%);
    padding:10px;
    font-size: large;
    background-color: #ffd4d4;
}
/* #supplies{
    height: 25%;
    position:absolute;
    top:73%;
    width:60%;
    left:50%;
    transform:translate(-50%,0%);
    border-radius: 10px;
    
} */

#filter-div{
    position:fixed;
    top:15%;
    left:2%;
    font-size: small;
    width:15%;
    border:1px solid black;
    padding: 0px;
    background-color: white;
    z-index: -1;
    overflow-y: auto;
    height: 80%;
}

#filter-btn, #sort-btn{
    position: relative;
    left:50%;
    transform:translate(-50%,0%);
    margin-bottom: 20px;
}
  
#filter-div form table td{
      padding:3px;   
}
#filter-div form table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}
#filter-div form table{
     border-collapse: collapse;
 }

#modal-content5 form table td{
    padding: 5px 15px;
}

#modal-content5 form input {
    position: relative;
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    
  }
  
#modal-content5 label {
    position: relative;
    display: block;
    float: left;
  }
  #modal-content5 span {
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
  }

  .add-data{
      text-align: center;
      color: red;
      font-size: small;
  }

  #occupied{
      display: none;
      color:red;
  }

/* #ffcccc
  #ffb3b3
  #ff8080 */

